<?xml version="1.0" standalone="no"?>
<!-- dummy ID, eine richtige ID ist noch nicht reserviert -->
<config deviceid="HUB/BLUB/1">
	<module>
		<!-- teile dem Modul mit, dass der Knoten stationär ist -->
		<properties>
			is_mobile=false
		</properties>
	</module>
	<input>
		<location>
			<!-- feste Position -->
			<fixed lat="13.528338" lon="52.428275" />
		</location>
		<sensor>
			<device>
				<!-- lese Sensor 1 von STDIN -->
				<resource res="-" />
				<struct-csv delimiter=";">
					<value type="id" />
					<value type="time_seconds" />
					<value type="mac" />
					<value type="bt_class" />
					<value type="rssi" />
				</struct-csv>
			</device>
		</sensor>
	</input>
	<output>
		<!-- schreibe nach STDOUT -->
		<resource res="-" />
	</output>
</config>